<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, Has creado una nueva campana!</h1>
    <p><%= @campaign.titulo %></p>
    <p><%= @campaign.meta %></p>
    <p><%= @campaign.category %></p>
  </body>
</html>
