<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="text-align: center; background: #64A300; border-radius: 25px; padding: 10px">Gracias por unirse, <%= @user.name %>!</h1>
    <p style= "font-family: Verdana, sans-serif; font-size: 25px; text-align: center">Cree una campana ya! <%= link_to "Click aqui para comenzar!", new_campaign_url %> </p>
  </body>
</html>
